language: rust
rust:
  - 1.38.0  # minimum supported toolchain
  - stable
  - beta
  - nightly

matrix:
  allow_failures:
    - rust: nightly

script:
  - cargo test
  - cargo test --features failpoints
