[package]
name = "zincati"
version = "0.0.20-alpha.0"
description = "Update agent for Fedora CoreOS"
homepage = "https://coreos.github.io/zincati"
license = "Apache-2.0"
keywords = ["cincinnati", "coreos", "fedora", "rpm-ostree"]
authors = ["Luca Bruno <luca.bruno@coreos.com>"]
repository = "https://github.com/coreos/zincati"
edition = "2018"

[dependencies]
actix = "0.10"
cfg-if = "1.0"
chrono = { version = "0.4", features = ["serde"] }
env_logger = "0.8"
envsubst = "0.2"
fail = "0.4"
failure = "0.1"
filetime = "0.2"
futures = "0.3"
glob = "0.3"
intervaltree = "0.2.6"
lazy_static = "1.4"
libc = "0.2"
liboverdrop = "0.0.2"
libsystemd = "0.2"
log = "0.4"
maplit = "1.0"
num-traits = "0.2"
ordered-float = { version = "2.1", features = ["serde"] }
prometheus = { version = "0.12", default-features = false }
rand = "0.8"
regex = "1.4"
reqwest = { version = "0.10", features = ["json"] }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
tempfile = "^3.2"
structopt = "0.3"
tokio = "0.2"
toml = "0.5"
url = { version = "2.2", features = ["serde"] }
users = "0.11.0"
zbus = "1.8.0"
zvariant = "2.6.0"

[dev-dependencies]
http = "0.2"
mockito = "0.30"
proptest = "1.0"
tempfile = "^3.2"

[features]
failpoints = [ "fail/failpoints" ]

[profile.release]
lto = true

[package.metadata.release]
sign-commit = true
disable-publish = true
disable-push = true
pre-release-commit-message = "cargo: zincati release {{version}}"
post-release-commit-message = "cargo: development version bump"
tag-message = "zincati {{version}}"
